<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render partial: "site/shared/sidebar"%>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <%= render partial: "site/shared/carrousel"%>
      <div class="row">
        <%= render partial: "site/shared/ads"%>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>